<!-- Catalog.html -->
{% include "header.html" %}
<nav class="minheight">
  <h2>Categories</h2>
  <ul>
    {% for i in categories %}
    <li>
      <a href = "{{url_for('showCategories', categories_id = i.id)}}"
        style="color:black">{{i.name}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
<article>
  <h2>Recent Added</h2>
  <p><a href = "{{url_for('newItem')}}" style="color:red">Create New Item</a></br></p>
  <ul>
    {% for i in items %}
    <li>
      <a href = "{{url_for('showItem',categories_id=i.categories_id, items_id=i.id)}}
        "style="color:black">{{i.name}} - {{i.categories.name}}</a>
    </li>
    {% endfor %}
  </ul>
</article>
</body>
</html>