<!-- category.html -->
{% include "header.html" %}
<nav>
  <h2>Categories</h2>
  <ul>
    {% for i in allcategories %}
    <li>
      <a href = "{{url_for('showCategories', categories_id = i.id)}}" style="color:black">{{i.name}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
<article>
  <h2>{{categories.name}}</h2>
  <ul>
    {% for i in items %}
    <li>
      <a href = "{{url_for('showItem', categories_id=categories.id ,items_id=i.id)}}" style="color:black">{{i.name}}</a>
    </li>
    {% endfor %}
  </ul>
  </br>
</article>
</body>
</html>