<!DOCTYPE html>
<html>
  <head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Advent Pro' rel='stylesheet'>
  </head>
  <body>
    <div class="inline login">
      {%if 'username' not in session %}
      <a class="button" href="{{url_for('showLogin')}}">Login </a>
      {% else %}
      <a class="button" href="{{url_for('disconnect')}}">Logout </a>
      {% endif %}
    </div>
    <header>
      <img class="logo" src="{{ url_for('static', filename='filmlogo.png') }}"
        alt="the film logo" height="50" width="50">
      <h1 class="inline"><a href = "{{url_for('showCatalog')}}" style="color:black">
        Movie Catalog Application</a>
      </h1>
    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
      {% for message in messages %}
      <h2><strong>{{message}}</strong></h2>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}