<!-- item.html -->
{% include "header.html" %}
<div class="item">
  <h2 class="inline">{{items.name}}</h2>
  </br>
  <h3 class="inline"><a href = "{{url_for('showCategories', categories_id=categories.id)}}" style="color:black">- {{categories.name}}</a></h3>
  </br>
  <h3 class="description">{{items.description}}</h3>
  </br>
  <a href = "{{url_for('editItem', categories_id=categories.id, items_id=items.id)}}" style="color:red">Edit</a>
  <a href = "{{url_for('deleteItem', categories_id=categories.id, items_id=items.id)}}" style="color:red">Delete</a>
</div>
</body>
</html>