<!-- newitem.html -->
{% include "header.html" %}
<h1 class="header">New Movie Item</h1>
<form action="{{url_for('newItem')}}"
  method="POST">
  <p>Name:</p>
  <input type="text" size="30" name="name">
  <p>description:</p>
  <input type="text" size="30" name="description">
  <p>Film genres:</p>
  <select name="categories_id">
    <option value=1 >Action Films</option>
    <option value=2 >Adventure Films</option>
    <option value=3 >Comedy Films</option>
    <option value=4 >Crime & Gangster Films</option>
    <option value=5 >Drama Films</option>
    <option value=6 >Epics/Historical Films</option>
    <option value=7 >Horror Films</option>
    <option value=8 >Musicals (Dance) Films</option>
    <option value=9 >Science Fiction Films</option>
    <option value=10 >War (Anti-War) Films</option>
    <option value=11 >Westerns</option>
  </select>
  </br></br>
  <input type="submit" value ="Create">
  <a href = "{{url_for('showCatalog')}}"><button type="button">Cancel</button></a>
  </br></br>
</form>
</body>
</html>