<!-- publiccatalog.html -->
{% include "header.html" %}
<nav>
  <h2>Categories</h2>
  <ul>
    {% for i in categories %}
    <li>
      <a href = "{{url_for('showCategories', categories_id = i.id)}}" style="color:black">{{i.name}}</a>
    </li>
    {% endfor %}
  </ul>
</nav>
<article class="maxheight">
  <h2>Recent Added</h2>
  <ul>
    {% for i in items %}
    <li>
      <a href = "{{url_for('showItem',categories_id=i.categories_id, items_id=i.id)}}"style="color:black">{{i.name}} - {{i.categories.name}}</a>
    </li>
    {% endfor %}
  </ul>
  </br></br>
</article>
</body>
</html>